= form.error_messages

%dl
  %dt= form.label :name
  %dd= form.text_field :name
  %dt= form.label :description
  %dd= form.text_area :description
  %dt= form.label :movie_name
  %dd= form.text_field :movie_name
  %dt= form.label :first_name
  %dd= form.text_field :first_name
  %dt= form.label :last_name
  %dd= form.text_field :last_name
